*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 725px;
    height: 725px;
    margin: auto;

}
header{
 background:url(3.jpg); 
 height: 100vh;
   -webkit-background-size:cover;
 background-size: cover;
 background-position: center center;
 position:relative;
}
.nav-area{
float: right;
list-style: none;
margin-top: 30px;
}
.nav-area li{
    display:inline-block;
}
.nav-area li a{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 14px;
}
.nav-area li a:hover{
    background: black;
    color: coral;
}
.logo img{
    width: 300px;
    float: left;
    height: auto;
}
.welcome-text{
    
}



